<h1>Favorites</h1>

<div class="fav-list">

    {{#each favorites}}
        <div class="fav-item">
            <a href="{{this.nasa_url}}">
                <img class="fav-image" src="{{this.url}}">
            </a>

            <span class="fav-title">{{this.title}}</span>
            <span class="fav-data">{{this.date}}</span>

        </div>
        <form method="POST" action="/favorites/delete">
            <button type="submit" name="'delete">Delete</button>
            <input type="hidden" name="date" value="{{this.date}}">
        </form>

    {{else}}
        <p>No favorites saved yet.</p>

    {{/each}}

    {{#if favorites}}
    <form method="POST" action="favorites/deleteAll">
        <button type="submit" name="btn-deleteAll">Delete All Favorites</button>
    </form>
    {{/if}}
</div>